.channel_log
{
    /*font-family:monospace;*/
    font-size:12px;
    height:300px;
}

.channel_log {
	margin: 0px;
	padding: 0px 0px 0px 2px;
	list-style: none;
	line-height: normal;
	overflow:auto;
}

.channel_log li {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	display:block;
}

.privmsg 
{
	color:#222;
}

.notice 
{
	color:#555;
}

.join
{
	color:#2a2;
}

.quit
{
	color:#d22;
}

.part
{
	color:#d22;
}

.nick
{
	color:#da2;
}
